.menu-item {
  margin: 0px 5px;
}

.menu-item-button:hover {
  cursor: pointer;
  color: var(--tirtuary-color);
  transition: 0.1ms;
}

.menu-item-button {
  border: 0;
  padding: 1em;
  background: transparent;
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
}

.menu-item-button > span {
  display: flex;
  align-items: center;
}
