.menubar {
  background: var(--secondary-color);
  padding: 15px 12em;
}

.menubar-logo {
  max-height: 30px;
}

.menubar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
