@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.heading {
  font-size: var(--heading-font-size);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.heading-text {
  font-size: var(--heading-text-font-size);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
