body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #1a243c;
  --secondary-color: #0c142a;
  --tirtuary-color: #f43f45;
  --fourth-color: #59d69f;
  --fifth-color: #4a91ed;
  --text-color-primary: #ffffff;
  --text-color-secondary: #414758;
  --relative-padding: 5px 12em;
}
