.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-color);
  width: 100%;
  padding: 2em 0em;
  border-bottom: 1px solid var(--text-color-secondary);
}

.footer-top-heading {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 1em;
}
.footer-bottom {
  padding: 3em 0;
  display: flex;
  background: var(--secondary-color);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color-primary);
}
.footer-bottom-left-link {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--text-color-secondary);
}
.footer-bottom-right-link-group {
  padding-bottom: 2em;
  color: var(--text-color-primary);
  text-transform: uppercase;
  font-weight: var(--heading-font-weight);
}
.footer-bottom-right-group {
  margin: 1.5em;
}

.footer-bottom-left-links {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-left {
  display: flex;
  flex-direction: column;
}

.footer-bottom-right {
  display: flex;
}
.payment-type {
  font-size: 40px;
}
.sweet-bottom {
  background: var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
  flex-direction: column;
}

.sweet-bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
}
.sweet-bottom-bottom {
  display: flex;
}
.sweet-bottom-bottom-left {
  display: flex;
}
